@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Oi!       </h1>
    <p>Learn about <a href="https://parahumans.wordpress.com/">Worm</a>.</p>
</div>
